<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">

	<display-name>FeeManagement</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>










	<servlet>
		<description></description>
		<display-name>adminLogin</display-name>
		<servlet-name>adminLogin</servlet-name>
		<servlet-class>com.yogesh.servlet.admin.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLogin</servlet-name>
		<url-pattern>/adminLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>addAccoutant</display-name>
		<servlet-name>addAccoutant</servlet-name>
		<servlet-class>com.yogesh.servlet.admin.AddAccoutant</servlet-class>
		<multipart-config>
			<max-file-size>10485760</max-file-size>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>addAccoutant</servlet-name>
		<url-pattern>/addAccountant</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditAccountant</display-name>
		<servlet-name>EditAccountant</servlet-name>
		<servlet-class>com.yogesh.servlet.admin.EditAccountant</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditAccountant</servlet-name>
		<url-pattern>/EditAccountant</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteAccount</display-name>
		<servlet-name>DeleteAccount</servlet-name>
		<servlet-class>com.yogesh.servlet.admin.DeleteAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAccount</servlet-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminLogout</display-name>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>com.yogesh.servlet.admin.AdminLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/AdminLogout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AccountantLogin</display-name>
		<servlet-name>AccountantLogin</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.AccountantLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountantLogin</servlet-name>
		<url-pattern>/AccountantLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddStudent</display-name>
		<servlet-name>AddStudent</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.AddStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudent</servlet-name>
		<url-pattern>/AddStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditStudent</display-name>
		<servlet-name>EditStudent</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.EditStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditStudent</servlet-name>
		<url-pattern>/EditStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteStudent</display-name>
		<servlet-name>DeleteStudent</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.DeleteStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStudent</servlet-name>
		<url-pattern>/DeleteStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewAccountant</display-name>
		<servlet-name>ViewAccountant</servlet-name>
		<servlet-class>com.yogesh.servlet.admin.ViewAccountant</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAccountant</servlet-name>
		<url-pattern>/ViewAccountant</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewStudents</display-name>
		<servlet-name>ViewStudents</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.ViewStudents</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewStudents</servlet-name>
		<url-pattern>/ViewStudents</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FeeDefaulters</display-name>
		<servlet-name>FeeDefaulters</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.FeeDefaulters</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeeDefaulters</servlet-name>
		<url-pattern>/FeeDefaulters</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FeeDetail</display-name>
		<servlet-name>FeeDetail</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.FeeDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeeDetail</servlet-name>
		<url-pattern>/FeeDetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AccountantLogout</display-name>
		<servlet-name>AccountantLogout</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.AccountantLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountantLogout</servlet-name>
		<url-pattern>/AccountantLogout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FeePay</display-name>
		<servlet-name>FeePay</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.FeePay</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeePay</servlet-name>
		<url-pattern>/FeePay</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>AuthorizationFilter</display-name>
		<filter-name>AuthorizationFilter</filter-name>
		<filter-class>com.yogesh.servlet.admin.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/addAcc.html</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>ViewProfile</display-name>
		<servlet-name>ViewProfile</servlet-name>
		<servlet-class>com.yogesh.servlet.accountant.ViewProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewProfile</servlet-name>
		<url-pattern>/ViewProfile</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>SqlInjection</display-name>
		<filter-name>SqlInjection</filter-name>
		<filter-class>com.yogesh.filter.SqlInjection</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SqlInjection</filter-name>
		<url-pattern>/AccountantLogin</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>fileUploadfilter</display-name>
		<filter-name>fileUploadfilter</filter-name>
		<filter-class>com.yogesh.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>fileUploadfilter</filter-name>
		<url-pattern>/addAccountant</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>CsrfTokenChecker</display-name>
		<filter-name>CsrfTokenChecker</filter-name>
		<filter-class>com.yogesh.filter.CsrfTokenChecker</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CsrfTokenChecker</filter-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>SsrfChecker</display-name>
		<filter-name>SsrfChecker</filter-name>
		<filter-class>com.yogesh.filter.SsrfChecker</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SsrfChecker</filter-name>
		<url-pattern>/addAccountant</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>XssFilter</display-name>
		<filter-name>XssFilter</filter-name>
		<filter-class>com.yogesh.filter.XssFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XssFilter</filter-name>
		<url-pattern>/addAccountant</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>AccessControl</display-name>
		<filter-name>AccessControl</filter-name>
		<filter-class>com.yogesh.filter.Broken_Access_Control</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessControl</filter-name>
		<url-pattern>/addAcc.html</url-pattern>
		<url-pattern>/editAccountant.html</url-pattern>
		<url-pattern>/DeleteAccountant</url-pattern>
	</filter-mapping>


</web-app>